.player {
  display: flex;
  align-items: center;
  position: relative;
  z-index:10;
  user-select: none;
  font-weight:100;
  overflow: hidden;

  .canvas-wrapper {
      transform:rotateZ(-90deg);
      margin: 0 auto;
      width: 100%;

      .visual {
          will-change:transform, width, height;
          transform:translateZ(0);
          border-radius: 50%;
          width: 100%;
      }
  }
  .play-area, .song, .time {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
  }
  .play-area {
      div {
          display: inline-block;
      }
      .prev-song:hover,
      .next-song:hover,
      .pause:hover,
      .play:hover {
          opacity: 0.7;
      }
      .play, .pause {
          cursor: pointer;
          opacity: 0.85;
          vertical-align: middle;
          margin: 0 26px;
          width: 75px;
          height: 75px;
      }
      .prev-song, .next-song {
          cursor: pointer;
          vertical-align: middle;
          width: 40px;
          height: 40px;
      }
      .sound-control {
          cursor: pointer;
          width: 30px;
          height: 30px;
          position: absolute;
          top: 120%;
          left: 50%;
          margin-left: -15px;
          text-align: center;

        &.disabled {
            opacity: 0.4;
            path {
                display: none;
                &:last-of-type {
                    display: block;
                }
            }
        }
        &:hover {
            opacity: 0.7;
        }
      }
  }
  .song {
      font-family: Roboto, sans-serif;
      color:  #ffffff;
      position: absolute;
      top: 28%;
      text-align: center;

      .artist {
          font-size: 22px;
          margin-bottom: 5px;
      }
      .name {
          font-size: 18px;
      }
  }
  .time {
      text-align: center;
      font-family: Roboto, sans-serif;
      color:  #ffffff;
      position: absolute;
      left: 50%;
      font-size: 20px;
      bottom: 22%;
      font-weight:100;
  }

    @media only screen and (max-width: 560px) {
        .play-area {
            .play, .pause {
                margin: 0 26px;
                width: 50px;
                height: 50px;
            }
            .prev-song, .next-song {
                width: 27px;
                height: 27px;
            }
            .sound-control {
                width: 20px;
                height: 20px;
                margin-left: -10px;
            }
        }
        .song {
            .artist {
                font-size: 18px;
            }
            .name {
                font-size: 14px;
            }
        }
    }
}